.my-button {
    color: white;
    cursor: pointer;
    margin: 3px;
    padding: 7px 15px;
    border-radius: 8px;
    border: none;
  }
  
  .btn-primary {
    background-color: rgb(115, 115, 253);
  }
  
  .btn-danger {
    background-color: rgb(234, 131, 131);
  }
  
  .btn-primary:hover {
    background-color: rgb(184, 184, 255);
  }
  
  .btn-danger:hover {
    background-color: rgb(255, 145, 145);
  }
  .state-practice span {
    margin-right: 10px;
     
  }